language: node_js
node_js:
  - "stable"
services:
  - postgresql
cache:
  directories:
    - "node_modules"
env:
  global:
    - DB_ENV=testing
   
before_script:
  - psql -c 'create database frontend_test;' -U postgres
  - npm install make-coverage-badge
script:
  - npm test
  - sudo /etc/init.d/postgresql stop 
after_script:
  - make-coverage-badge --output-path ./badges
notifications:
  email: false
