.single-loc-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

.left-col{
    width: 60%;
    max-width: 720px;
    border: 1px solid #DBDBDB;
    margin: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: whitesmoke;

}

.right-col{
    width: 40%;
    max-width: 480px;
    border: 1px solid green;
}

.loc-top-desc{
    background: whitesmoke;
}

.loc-top-desc h3{
    padding-left: 5px;
    margin-top: .8rem;
}


.loc-image{
    width: 100%;
    max-width: 720px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loc-item-container{
    padding-left: 10px;
}